.div{
    box-sizing: border-box;
}

.body{
    margin: 0px;
}


/*normalize.css: 호환성 이슈 해결책*/

.profile {
width: 100px;
display: block;
margin-left: auto;
margin-right: auto;
}
/* class selector */
.files {
    text-align: center; 
    font-size: 16px; 
    font: 굴림;
}

.box{
    width: 50px;
    background: aqua;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 40px;
    border: 4px solid black;
    border-radius: 5px;
    font-size: 10px;
    box-shadow: 3px 3px grey;

}

.container{
    width: 100%;
    height: 500px;
    background-image: url("sky.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1px;
    color: white;
    text-align: center;
    position: relative;
}




.hang{
    width: 100%;
    height: 500px;


}

.main-button{
    padding: 15px;
    font-size: 20px;
    background: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
    z-index: 5;
}

.explain-box{
    width: 700px;
    margin: auto;
    padding:20px;
    text-align: center;
    background-position: center;
    background-color:#eee;
    position: relative;
    top: 501px;
    z-index: 1;
}

.form-background{
    background-color: black;
    padding: 30px;
}

.form-white{
    background-color: white;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input[type=email] {
    width: 100%;    
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
    
}

.w-50{
    width:50%;
    float: left;


}

.cart-background{
    width: 100%;
    background-color: #c2d3de;
    padding: 30px;
}

td{
    border: 1px solid black;
}
.btn{
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: coral;
    color: white;
    cursor: pointer;
}
.btn:hover {
    background-color: chocolate; 
    /* -> pseudo-class 문법 */
}

.btn:focus {
    background-color: grey;
}

.btn:active {
    background-color: brown;
}
/* hovr-focus-actie 순서로 써야 제대로 작동함. */

.m-btn{
    padding: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.bg-red{
    background: red;
}
.bg-blue{
    background: blue;
}

.alert-box{
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;


}

.list-group{
    display: none;

}
.show{
    display: block;
}

.black-bg {
    width : 100%;
    height : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 5;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
  }
  .white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
  }
  .btn-danger{
    background-color: red;
  }
  .show-modal{
    display: block;
    opacity: 1;
    visibility:visible;
  }
  .close-modal{
    display: none;
  }
/* p{
tag selector
}

#special{
id selector
} */